* {
  box-sizing: border-box;
  /* padding: auto; */
}

  .parent {
    position: relative;
    background-color: #6b9afa;
    color: rgb(243, 246, 247);
    top: 20px;
    padding: 10px;
    font-family: sans-serif;
    text-align: center;
  }

  .wrapper {
    background-color: #fa6bcf;
    color: rgb(243, 246, 247);
    padding: 5px;
    font-family: sans-serif;
    text-align: center;
  }
  
  .Tables {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  .Tables > h1 {
    position: relative;
    left: 10px;
    margin-bottom: 10px;
  }
  
  .Tables > h2 {
    margin-top: 10px;
    position: relative;
    left: 10px;
    opacity: 0.7;
    font-size: 1.2rem;
    margin-bottom: 30px;
  }

  .Tables > h3 {
    margin-top: 1px;
    position: relative;
    left: 0px;
    opacity: 0.7;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .fetch-button {
    min-width: 150px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(162, 201, 189);
    border: none;
    color: rgb(189, 7, 61);
    transition: all 0.5s;
  }
  
  .fetch-button:hover {
    background-color: rgb(195, 223, 223);
  }
  
   
  .book {
    position: relative;
    left: 10px;
    background: #fff;
    position: relative;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 47%;
    color: #333;
    flex-basis: width;
    background-color: rgb(165, 230, 230);
  }
  
  
  .book h3 {
    position: relative;
    left: 10px;
    margin-bottom: 5px;
    font-size: 1rem;
    opacity: 0.7;
  }
  
  .book h2 {
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 1.5rem;
  }
  
  .details {
    text-align: left;
  }
  