
/* .grid{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 1px 1px;
    position: relative;
    left: 50%;
    margin: +350px -300px;
} */


.Agrrid{
    position: relative;
    /* display: flex;  */
    flex-wrap: wrap;
    padding: 1px 1px;
    position: relative;
    left: 70%;
    margin: 50px -500px;
}

.button{
    position: relative;
    display: flex;  
    left: 10%;
    margin: 0px 0px;
}

.ag-theme-alpine{
    position: relative;

    left: 0%;
    margin: 0px -50px;
}