* {
    box-sizing: border-box;
  }

  body {
    background-color: #dee4f1;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }
  
  .Tables {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  .Tables > h1 {
    position: relative;
    left: 10px;
    margin-bottom: 50px;
  }
  
  .Tables > h2 {
    margin-top: 5px;
    position: relative;
    left: 10px;
    opacity: 0.7;
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .fetch-button {
    min-width: 150px;
    margin-bottom: 30px;
    padding: 15px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(222, 235, 231);
    border: none;
    color: rgb(189, 7, 61);
    transition: all 0.5s;
  }
  
  .fetch-button:hover {
    background-color: rgb(40, 209, 209);
  }
  
  .books {
    position: relative;
    left: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .book {
    position: relative;
    left: 10px;
    background: #fff;
    position: relative;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 47%;
    color: #333;
    flex-basis: width;
    background-color: rgb(165, 230, 230);
  }
  
  
  .book h3 {
    position: relative;
    left: 10px;
    margin-bottom: 5px;
    font-size: 1rem;
    opacity: 0.7;
  }
  
  .book h2 {
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 1.5rem;
  }
  
  .details {
    text-align: left;
  }
  